:root{
    --background-light: #f4f4f4;
    --backgroundHeader-light: #2b6fbd;
    --text-light: #333;
    --background-dark: #1a1a1a; 
    --backgroundHeader-dark: #1f3a6d; 
    --text-dark: #e0e0e0;
    --barra: #00B89F;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body.light {
    background-color: var(--background-light);
    color: var(--text-light);
}

body.dark {
    background-color: var(--background-dark);
    color: var(--text-dark);
}

header{
    padding: 1rem;
    text-align: center;
}

header.light {
    background-color: var(--backgroundHeader-light);
    color: var(--background-light);  
}

header.dark {
    background-color: var(--backgroundHeader-dark);
    color: var(--background-light);
}

nav{
    display: flex;
    flex-direction: column;
}

nav.light {
    background-color: var(--backgroundHeader-light);
}

nav.dark {
    background-color: var(--backgroundHeader-dark);
}

.navegacion{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main {
    height: 90vh;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    text-align: center;
    height: 250px;
    width: 50%;
}

.contenido.light{
    border: solid 2px var(--backgroundHeader-light);
}

.contenido.dark{
    border: solid 2px var(--backgroundHeader-dark);
}

#btnTema,#btnTexto,#btnLeer{
    padding: 10px;
    border: none;
    border-radius: 4px;
    text-align: center;
    margin: 1rem;
}

#btnTema.light,#btnTexto.light,#btnLeer.light{
    background-color: var(--background-light);
    color: var(--backgroundHeader-light);
}

#btnTema.dark,#btnTexto.dark,#btnLeer.dark{
    background-color: var(--background-dark);
    color: var(--backgroundHeader-dark);
}

#btnCol,#btnCont{
    border-radius: 4px;
    padding: 10px;
    font-size: 1rem;
}

#btnCol.light,#btnCont.light{
    border: 2px solid var(--backgroundHeader-light);
}

#btnCol.dark,#btnCont.dark{
    border: 2px solid var(--backgroundHeader-dark);
}

#btnCol.light:hover,#btnCont:hover{
    background-color: var(--backgroundHeader-light);
    color: var(--background-light);
}

footer {
    text-align: center;
    padding: 1rem;
    bottom: 0;
}


footer.light {
    background-color: var(--text-light);
    color: var(--background-light);
}

footer.dark {
    background-color: var(--text-dark);
    color: var(--background-dark);
}

#btnSubir{
    position: fixed;
    right: 20px;
    bottom: 50px;
    display: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 1rem;
}

#btnSubir.light{
    color: var(--background-light);
    background-color: var(--backgroundHeader-light);
}

#btnSubir.dark{
    color: var(--background-dark);
    background-color: var(--backgroundHeader-dark);
}

a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a.light{
    color: var(--background-light);
}

a.dark{
    color: var(--background-dark);
}

a:hover {
    text-decoration: underline;
}

.divBarra{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--background-light);
}

.barraProgreso{
    height: 100%;
    width: 0;
    transition: width 0.2s;
    background-color:var(--barra);
}


